body {
    background-color: #e65686;
    font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

div.header {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00000000;

}

div.header h1 {
    text-align: center;
    font-size: 30pt;
    color: #585858;
}

.btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    width: 80%;

}

.btn p {
    color: rgb(245, 118, 118);
    font-size: large;
    margin-bottom: 70px;
}

div.admin-btn {
    width: 30%;
    height: 250px;
    float: left;
    border: 3px solid rgb(66, 63, 63);
    border-radius: 24px;
    padding: 10px;
    background-color: rgb(245, 118, 118);
    box-shadow: 5px 0px 15px, -5px 0px 15px;
}

.admin-btn:hover {
    background: grey;
    font-style: bold;
}

div.admin-btn h1,
div.guest-btn h1 {
    text-align: center;
    padding-top: 75px;
    text-decoration: none;
    color: antiquewhite;
}

div.guest-btn {
    width: 30%;
    height: 250px;
    float: right;
    border: 3px solid rgb(66, 63, 63);
    padding: 10px;
    background-color: rgb(245, 118, 118);
}

.guest-btn:hover {
    background: grey;
    font-style: bold;
}



















.box.smart_pdbox {
    border: 1px solid rgba(0, 0, 0, 0.09);
    float: left;
    box-sizing: border-box;
    width: 50%;
    margin-left: -1px;
    margin-bottom: -1px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    background: #fff;
}