@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/*Inisialisasi Font*/
@font-face {
    font-family: "DMSerif";
    src: url(DMSerifText-Regular.ttf);
}

body {

    background-color: #708090;
    font-family: "font-awesome", "DMSerif", Arial;
}

.Logo {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Transform digunakan untuk meletakan gambar ke tengah, karena
    jarak top dan left 30 sama 50 maka transformnya digunakan 
    sebagai pengurangan dari jarak top dan left */
    position: absolute;
    border-bottom: 3px solid rgb(97, 96, 96);
    padding: 13px 0px;
    overflow: hidden;
    /*Overflow hidden digunakan agar isian didalam section/div itu 
    ga keluar dari lembaran div*/
}

div.login-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* Position absolute artinya posisi lembaran div itu dianggap
    tidak ada oleh lembaran div lainya, jadi jika terjadi tabrakan
    maka posisiton absolute gaperduli apakah lembaran tersebut
    tabrakan atau tidak */
    width: 280px;
    color: rgb(48, 46, 46);
}

div.text-box {

    overflow: hidden;
    width: 100%;
    padding: 8px 0px;
    margin: 8px 0px;
    font-size: 30px;
    border-bottom: 1px solid rgb(48, 46, 46);
}

div.text-box i {
    width: 26px;
    float: left;
    text-align: center;
}

div.text-box input {
    border: none;
    outline: none;
    background: none;
    color: rgb(48, 46, 46);
    font-size: 18px;
    width: 220px;
    float: left;
    margin: 10px;
}

.user-box::-webkit-input-placeholder,
.pass-box::-webkit-input-placeholder {
    color: rgb(48, 46, 46);
}

.btn-login {
    width: 100%;
    background: none;
    border: 2px solid rgb(97, 96, 96);
    color: rgb(48, 46, 46);
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0px;
    margin-top: 35px;
}